.join_hydra{
    margin-bottom: 125px;
    .container{
        padding: 90px 109px;
        background: #403A5F;
        border-radius: 100px;
        text-align: center;
    }
    .join_title{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 50px;
    }
    .join_text{
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 65px;
    }
    .join_form{
        input{
            border:1px solid #fff;
            width: 40%;
            padding: 27px 42px;
            border-radius: 40px;
            margin-bottom: 39px;
            color:#fff;
        }
        .subject{
            width: 80%;
        }
        .text-area{
            width: 80%;
        }
    }
}